<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>482</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>481</string>
					<key>Timestamp</key>
					<string>757812789.172014</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>infman/main.c</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>    if ((fileptr = fopen("/Users/melch/Desktop/Projetos/projetos_faculdade/infman/infman/bin/top_scores.bin", "r+")) != NULL) {
</string>
				<key>leading</key>
				<string>    FILE *fileptr;
    
</string>
				<key>trailing</key>
				<string>        fread(top_players, sizeof(PLAYER_ON_TOP), TOPLAYERS, fileptr);
    } else
        do_not_exit = 0;
</string>
			</dict>
			<key>title</key>
			<string>CHANGE FROM ABSOLUTE TO RELATIVE PATH</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>915</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>914</string>
					<key>Timestamp</key>
					<string>757812789.171988</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>infman/main.c</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>void laser_shoot(void) {
</string>
				<key>leading</key>
				<string>}

</string>
				<key>trailing</key>
				<string>    
    for (int i = 0; i &lt; MAXPROJECTILES; i++) {
        laser_projectiles[i].bullet.x += LASERPROJECTILESPEED*laser_projectiles[i].direction.x;
</string>
			</dict>
			<key>title</key>
			<string>NEED TO SUM THE DISTANCE Y DISTANCE BETWEEN THE TOP OF THE PLAYER AND THE GUN BARREL</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>1012</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>1011</string>
					<key>Timestamp</key>
					<string>757812982.7022001</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>infman/main.c</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>            hearts[i].state = 1;
</string>
				<key>leading</key>
				<string>        if (enemies[i].hearts &lt;= 0 &amp;&amp; enemies[i].alive) {
            player.score += 100;
</string>
				<key>trailing</key>
				<string>            hearts[i].position = enemies[i].pivot;
            enemies[i].alive = 0;
        }
</string>
			</dict>
			<key>title</key>
			<string>MAKE THE DROPS WORK !!!!!</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
